@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

body {
  background: #121212;
  color: white;
  font-family: "Cabin", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: calc(100vh - 90px);
  border: none;
}

#infoBar {
  width: 100%;
  height: 90px;
  background: rgba(18, 18, 18, 0.08);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  border-top: 2px solid rgba(102, 102, 102, 0.1);
}

#leftInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

#miniImg {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

#itemName {
  font-size: 20px;
  font-weight: 600;
}

.btn {
  background: white;
  color: black;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: 0.2s;
  margin-left: 10px;
}

.btn:hover {
  transform: translateY(-3px);
}
